<md-toolbar color="primary">
  <span>
    <button md-icon-button [routerLink]="['']"><md-icon>home</md-icon></button>
  </span>  
  <span>  
    <button md-button routerLinkActive="active" [routerLink]="['/achievements']">
      Achievements
    </button>
    <button md-button routerLinkActive="active" [routerLink]="['add-achievement']">
      Make a Contribution
    </button>
  </span>
  <span class="fill-remaining-space"></span>
  <span>  
    <button md-button class="md-raised" aria-label="User" [mdMenuTriggerFor]="userMenu">
      User
    </button>
    <md-menu #userMenu="mdMenu">
      <button md-menu-item *ngIf="!isAuth()" (click)="onLogOn()" style="cursor: pointer;">Log In</button>
      <button md-menu-item *ngIf="isAuth()" (click)="onLogOff()" style="cursor: pointer;">Log Out</button>
    </md-menu>
  </span>
</md-toolbar>

