<md-card>
    <md-card-title>Achievements</md-card-title>
    <md-card-content>
                <span>
                <md-icon md-font-library="material-icons" style="font-size: 30px">access_time</md-icon><br/>
                
                    <b>{{improvements}}</b> improvements have been implemented, giving us <b>{{saving}} Hours per Year</b> to be spent doing more productive things.
                 </span><br/><br/><hr/>
                <md-icon md-font-library="material-icons" style="font-size: 30px">business</md-icon><br/>
                <span>
                    <b>{{quality_improvements}}</b> improvements are measurable in terms of quality.
                </span>
    </md-card-content>
</md-card>
